.custom-bg-dark {
  background-color: #0B0C10;
}

.light-dropdown-btn {
  background-color: #66FCF1;
}

.highlighted-btn {
  border-color: #66FCF1;
  color: #66FCF1;
}

.highlighted-btn:hover {
  background-color: #66FCF1;
  border-color: #66FCF1;
  color: #0B0C10;
}

.text-heading {
  color: #66FCF1;
}

.text-subheading {
  color: #45A29E;
}

.text-normal {
  color: #C5C6C7;
}

.text-with-shadow {
  text-shadow: 1px 1px black;
}

.image {
  position: relative;
  height: 100vh;
}

.content {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.card:hover .card-img {
  opacity:0.2;
}

.card .card-img-overlay {
  opacity:0;
}

.card:hover .card-img-overlay{
  opacity:1;
}